= form_for(resource, as: resource_name, url: password_path(resource_name), :html => {:class => "form-horizontal", :method => "put"}) do |f|
  = f.hidden_field :reset_password_token
  %fieldset
    %legend
      = t('recovery.recover_password')
    .form-group
      %label.col-lg-2.control-label
      .col-lg-10
        - if alert.present?
          .alert.alert-dismissible.alert-danger
            %button.close{"data-dismiss" => "alert", :type => "button"} ×
            %a.alert-link{:href => "#"}
              = alert

    .form-group{:class => (resource.errors["password"].any? ? "has-error" : '')}
      %label.col-lg-2.control-label{:for => "inputPassword"} = t('change_password.new_password')
      .col-lg-10
        = f.password_field :password, autofocus: true, autocomplete: "off", placeholder: t('change_password.new_password'), :class => "form-control"
        - if resource.errors["password"].any?
          .errorMsg
            = resource.errors["password"].first

    .form-group{:class => (resource.errors["password_confirmation"].any? ? "has-error" : '')}
      %label.col-lg-2.control-label{:for => "inputPassword"} = t('change_password.confirm_password')
      .col-lg-10
        = f.password_field :password_confirmation, autocomplete: "off", placeholder: t('change_password.confirm_password'), :class => "form-control"
        - if resource.errors["password_confirmation"].any?
          .errorMsg
            = resource.errors["password_confirmation"][0]        
    .form-group
      .col-lg-10.col-lg-offset-2        
        = f.submit t('change_password.change_my_password'), :class => "btn btn-success"
    .form-group
      .col-lg-10.col-lg-offset-2        
        = link_to t('general.have_an_account'), sign_in_path, :class => "btn btn-info"
        = link_to t('general.create_an_account'), sign_up_path, :class => "btn btn-info", 'data-no-turbolink' => true





%h2
  Edit #{resource_name.to_s.humanize}
= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = devise_error_messages!
  .field
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true
  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    %div
      Currently waiting confirmation for: #{resource.unconfirmed_email}
  .field
    = f.label :password
    %i (leave blank if you don't want to change it)
    %br/
    = f.password_field :password, autocomplete: "off"
  .field
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, autocomplete: "off"
  .field
    = f.label :current_password
    %i (we need your current password to confirm your changes)
    %br/
    = f.password_field :current_password, autocomplete: "off"
  .actions
    = f.submit "Update"
%h3 Cancel my account
%p
  Unhappy? #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
= link_to "Back", :back