= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => "form-horizontal"}) do |f|
  %fieldset
    %legend
      = t('login.login_to_your_account')
    .form-group
      %label.col-lg-2.control-label
      .col-lg-10
        - if alert.present?
          .alert.alert-dismissible.alert-danger
            %button.close{"data-dismiss" => "alert", :type => "button"} ×
            %a.alert-link{:href => "#"}
              = alert
    .form-group
      %label.col-lg-2.control-label
        = f.label :email
      .col-lg-10
        = f.email_field :email, autofocus: true
    .form-group
      %label.col-lg-2.control-label
        = f.label :password
      .col-lg-10
        = f.password_field :password, autocomplete: "off"
  .form-group
    %label.col-lg-2.control-label
    - if devise_mapping.rememberable?
      .field
      = f.check_box :remember_me
      = f.label :remember_me
    
    .form-group
      .col-lg-10.col-lg-offset-2
        = f.submit "Log in", :class => "btn btn-success", :name => "login"
    .form-group
      .col-lg-10.col-lg-offset-2
        = render "devise/shared/auth_links"
    
    .form-group
      .col-lg-10.col-lg-offset-2        
        = link_to "Forgot your password?", new_password_path(resource_name), :class => "btn btn-info"
        = link_to "Sign up", new_registration_path(resource_name), :class => "btn btn-info",'data-no-turbolink' => true

