<%= @user.email %>
    
    <% if current_user == @user %>
        <h4>Friend Requests</h4>
        <ul>
            <% @user.requested_friendships.each do |request| %>
            <li>
              <%= request.email %> 
              <%= link_to "Accept", friendship_path(:id => request), :method => "put" %> 
              <%= link_to "Decline", friendship_path(:id => request), :method => :delete %>
            </li>
          <% end %>
        </ul>
    <% end %>
    

<div class="container" style="padding-top: 60px;">
 <h1 class="page-header">Profile</h1>
 <div class="row">
   <!-- left column -->
   <div class="col-md-4 col-sm-6 col-xs-12">
     <div class="text-center">
       <img src="http://lorempixel.com/200/200/people/9/" class="avatar img-circle img-thumbnail" alt="avatar">
       <!-- <h6>Upload a different photo...</h6>
       <input type="file" class="text-center center-block well well-sm"> -->
     </div>
   </div>
   <!-- edit form column -->
   <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
     <!-- <div class="alert alert-info alert-dismissable">
       <a class="panel-close close" data-dismiss="alert">×</a> 
       <i class="fa fa-coffee"></i>
       This is an <strong>.alert</strong>. Use this to show important messages to the user.
     </div> -->
     <h3>Personal info</h3>
     <form class="form-horizontal" role="form">
       <div class="form-group">
         <label class="col-lg-3 control-label">First name:</label>
         <div class="col-lg-8">
           <%= @user.firstname %>
         </div>
       </div>
       <div class="form-group">
         <label class="col-lg-3 control-label">Last name:</label>
         <div class="col-lg-8">
          <%= @user.lastname %>
         </div>
       </div>
       <!-- <div class="form-group">
         <label class="col-lg-3 control-label">Company:</label>
         <div class="col-lg-8">
           <input class="form-control" value="" type="text">
         </div>
       </div> -->
       <div class="form-group">
         <label class="col-lg-3 control-label">Email:</label>
         <div class="col-lg-8">
        <%= @user.email %>
         </div>
       </div>
       
       <div class="form-group">
         <label class="col-md-3 control-label">Username:</label>
         <div class="col-md-8"><%= @user.username %>
         </div>
       </div>
    
<div class="form-group">
         <label class="col-md-3 control-label"></label>
         <div class="col-md-8">
  <% if @user.id != current_user.id %>  
            <%= link_to t('Send Request'),friendships_path(:friend_id => @user), :method => :post , :class => 'btn btn-info btn-sm' %>
            <%= link_to t('Message'), '/message', :class => 'btn btn-success btn-sm' %>
   <% else %>
  <%= link_to t('Edit Profile'), edit_user_registration_path, :class => 'btn btn-default btn-sm' %>
   <% end %>
         </div>
       </div>
     </form>
   </div>
 </div>
  <h2>Friends</h2>
    <ul>
        <% @user.friends.each do |friend| %>
        <li>
          <%= friend.email %> 
          <% if current_user == @user %>
            <%= link_to "Unfriend", friendship_path(:id => friend), :method => :delete, :class => 'btn btn-danger btn-sm' %>
          <% end %>
        </li>
      <% end %>
    </ul>
</div>